<div id="wrapper">
	<div id="main">
		<div class="text-xl font-mono w-full max-w-5xl p-10 flex-col">

				<h3 class="my-auto"> Admin Page </h3>
				<form action="/csv" method="POST" class=" mx-auto";>
					<input type="submit" class="bg-black px-4 py-2 rounded-full text-white" value="Get CSV">
				</form>

		</div>
	</div>
</div>