<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%- title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="Join a community of likeminded makers and entrepreneurs - Access the professional tools that you need to develop your idea." />
		<meta property="og:site_name" content="Do It LAB - A Do It LAB is a space for you to prototype physical products." />
		<meta property="og:title" content="Do It LAB - A Do It LAB is a space for you to prototype physical products." />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Join a community of likeminded makers and entrepreneurs - Access the professional tools that you need to develop your idea." />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400italic,500,500italic,700,700italic%7CSpace+Mono:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
		<link rel="icon" type="image/png" href="assets/images/favicon.png" />
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="stylesheet" href="/../assets/main.css" />
		<noscript><link rel="stylesheet" href="assets/noscript.css" /></noscript>
		<script async src="//www.googletagmanager.com/gtag/js?id=UA-168435544-1"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-168435544-1', { 'send_page_view': false, 'anonymize_ip': true });</script>
		<script src="https://cdn.tailwindcss.com"></script>
		
	</head>

	<body class="">
		<%- body %>
	</body>

</html>