<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>TT Creative Limited - Explore Possibilities</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="We do business for all those involved to create a better lifestyle and a better world." />
		<meta property="og:site_name" content="TT Creative Limited - Explore Possibilities" />
		<meta property="og:title" content="TT Creative Limited - Explore Possibilities" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="We do business for all those involved to create a better lifestyle and a better world." />
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker:400,400italic" rel="stylesheet" type="text/css" />
		<link rel="icon" type="image/png" href="assets/images/favicon.png" />
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="stylesheet" href="assets/main.css" />
		<noscript><link rel="stylesheet" href="assets/noscript.css" /></noscript>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="">
		<%- body %>
	</body>

</html>