<div id="wrapper">
	<div id="main">
		<div class="text-xl font-mono max-w-lg">

			<form action="/session" method="POST" class="space-y-2 flex-col flex mx-auto w-full";>
				<h3>Password</h3>
				<input type="password" name="password" class="border rounded p-4">
				<input type="submit" value="Login" class="bg-black px-4 py-2 rounded-full text-white">
			</form>

		</div>
	</div>
</div>